OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
GEMINI_MODEL_NAME=gemini-1.5-pro-latest
LLM_PROVIDER=gemini
TADDY_API_URL=https://api.taddy.org
TADDY_API_KEY=your_actual_taddy_api_key
TADDY_USER_ID=your_actual_taddy_user_id
FLASK_RUN_PORT=5001
